<!-- <p class="txt">123456</p> -->

<!-- <p class="title">title</p>

<div class="box"></div>

<div class="pxToRem">pxToRem</div>

<p>device</p> -->

<!-- <div class="fz-1">1</div>
<div class="fz-2">2</div>
<div class="fz-3">3</div>
<div class="fz-4">4</div> -->

<!-- @each -->
<!-- <h1 class="orange">orange</h1>
<h2 class="purple">purple</h2>
<h3 class="teal">teal</h3> -->

<div class="container" #container>
  <div class="box">
    <div class="wrapper">
      <span class="dark-text">Dark</span>
      <span class="light-text">Light</span>
    </div>
    <span class="mode-text">Mo<br />d e</span>
  </div>
  <button class="btn" (click)="toggleTheme()">Switch</button>
</div>